.login-form {
  margin-top: 3em;

  button {
    padding: 0.7em 0;
    margin: 1.5em auto;
    display: block;
    width: 100%;
  }
}

.support-form {
  margin-top: 1em;

  button {
    padding: 0.7em 0;
    margin: 1.5em auto;
    display: block;
    width: 100%;
  }
}
