/* The actual timeline (the vertical ruler) */
.timeline {
  max-width: 1200px;
  //margin: 0 auto;
  background-color: #474e5d;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 20px;
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  clear: both;
  max-height: none;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.timeline-left {
  left: 0;
}

.timeline-container.timeline-left::before,
.timeline-container.timeline-left::after {
  top: 115px;
}

.timeline-container.timeline-right::before,
.timeline-container.timeline-right::after {
  top: 115px;
}

/* Place the container to the right */
.timeline-right {
  left: 50%;
}

.timeline-middle {
  left: 25%;
}

.timeline-container.timeline-middle {
  margin-top: 40px;
}

.timeline-container.timeline-middle::after {
  top: -30px;
  left: 45%;
}

/* Add arrows to the left container (pointing right) */
.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
  left: -15px;
}

/* The actual content */
.timeline-content {
  padding: 20px 20px;
  background-color: white;
  position: relative;
  border-radius: 0 0 6px 6px;
  z-index: 2;
  width: 100%;
}

.hide-controls {
  padding: 0.3em 0;
  visibility: hidden;
  display: inline-block;
  width: 50%;
  text-align: center;
  border-radius: 6px 6px 0 0;
}

.transaction-edit,
.transaction-destroy {
  font-size: 20px;
}

.control-edit {
  background-color: rgba(255, 227, 50, 0.5);
}

.control-destroy {
  background-color: rgba(241, 111, 92, 0.5);
}

.loaderBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    z-index: 2
  }
}

.timeline-date {
  text-align: right;
}

.timeline-container:hover .hide-controls {
  visibility: visible;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.transaction-btn-group {
  width: 95%;
  margin: 10px auto;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-left::after, .timeline-right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .timeline-right {
    left: 0%;
  }
}
