.first-page {
  width: 40%;
  margin: 10% auto;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 15px; }

.custom-form {
  margin-top: 20px; }

.custom-form > button {
  margin: 0 auto;
  display: block;
  width: 100%; }

.cursor-pointer {
  cursor: pointer; }

.b-popup {
  min-height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 45px;
  opacity: 0.9;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  margin-left: auto;
  margin-right: auto; }

.fa-margin {
  margin-right: 0.5em; }

nav {
  width: 100%;
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  background-repeat: repeat-x;
  border-radius: 4px;
  overflow: hidden; }
  nav .navWide {
    display: none;
    margin: 0 auto; }
    nav .navWide .wideDiv {
      display: flex;
      justify-content: left;
      align-items: center;
      align-content: center; }
      nav .navWide .wideDiv div.nav-item {
        display: inline-block;
        padding: 1em 2em;
        cursor: pointer;
        color: #FFF; }
        nav .navWide .wideDiv div.nav-item:hover {
          color: cornflowerblue; }
      nav .navWide .wideDiv .nav-header {
        flex: 1 1 90%; }
        nav .navWide .wideDiv .nav-header h3 {
          margin-top: 0;
          margin-bottom: 0; }
      nav .navWide .wideDiv .nav-right {
        flex: 1 1 10%; }
  nav .navNarrow .burger-right {
    float: right; }
  nav .navNarrow .burger-user {
    float: left;
    color: #FFF;
    font-size: 18px; }
  nav .navNarrow .narrowLinks {
    display: none; }
    nav .navNarrow .narrowLinks div {
      width: 100%;
      color: #FFF;
      display: block;
      text-align: center;
      float: left;
      clear: left;
      padding: 0.5em 0;
      cursor: pointer; }

@media (min-width: 480px) {
  nav .navWide {
    display: block; }
  nav .navNarrow {
    display: none; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
