.first-page {
  width: 40%;
  margin: 10% auto;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 15px; }

.custom-form {
  margin-top: 20px; }

.custom-form > button {
  margin: 0 auto;
  display: block;
  width: 100%; }

.header {
  width: 90%;
  margin: 0 auto; }

.navbar {
  margin: 0 auto 20px; }

.cursor-pointer {
  cursor: pointer; }

.allerts {
  z-index: 10;
  width: 70%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 7rem;
  left: 0;
  right: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
